{% extends 'base.html' %}
{% block title %} Создание поста {% endblock %}
{% block up %} Создание поста {% endblock %}

{% block content %}
<div class="col-md-8 my-4 border border-white rounded" id="main">
    <div class="container text-center">

        <form class="border border-white my-4 bg-white rounded" action="/commit" method="POST">
            <div class="container py-1">
                <textarea name="text" class="md-textarea form-control" rows="5" placeholder="Message..."
                    required></textarea>
                <div class="rounded my-4 bg-white">
                    <button class="btn btn-rounded btn-block border-dark border" type="submit">Создать</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}