{% extends 'base.html' %}

{% block title %}Eclair Mobile Testnet{% endblock %}

{% block up %}
<h1 align="center">Lightning Network</h1>
{% endblock %}

{% block content %}
<div class="col-md-8 my-4 border border-white rounded" id="main">
	<div class="container text-center">
		<h1>
			<a>Lightning Network <br>
				Герасименко Демид 181-352</a>
		</h1>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">

					<h2 class="mt-4">Введение</h2>

					<p align="justify">Lightning Network — это децентрализованная сеть, построенная на основе
						биткойн-сети для одноранговых платежей,
						мгновенная и почти бесплатная. Это решение выбора для решения проблем масштабируемости
						биткойнов.
						Хотя он все еще находится в стадии разработки, сейчас он развернут в основной сети и растет день
						ото дня.</p>
					<p align="justify">По своей структуре количество транзакций, достижимых в сети Биткойн,
						ограничено так называемым пределом размера блока. Размер блоков,
						представляющих собой наборы транзакций, добавляемых в цепочку блоков,
						в настоящий момент не может превышать 1 МБ.</p>
					<p align="justify">Это не проблема, когда использование остается низким: все новые транзакции
						проверяются и включаются несовершеннолетними в следующем блоке, так что транзакция будет
						подтверждена примерно
						через 20 минут.</p>
					<p align="justify">Однако во время пиковых нагрузок регулярно случается, что предел достигнут и
						блоки заполнены. Поскольку майнеры пытаются максимизировать свою прибыль, они предпочитают более
						высокооплачиваемые платежи, что создает механизм торгов. Увеличиваются транзакционные издержки
						наиболее спешных
						пользователей и сокращается время подтверждения. Это произошло, например, в декабре 2017 года,
						когда средние сборы превысили десять евро, а время подтверждения можно было подсчитать в днях!
					</p>
					<p align="justify">Таким образом, биткойн имеет проблему масштабируемости, то есть плохо
						адаптируется к растущему спросу на использование. Чтобы решить эту проблему,
						простейшим решением было бы увеличение предела размера блока, как и других криптовалют.
						Но большая часть сообщества предпочитает не использовать это решение для сохранения максимальной
						децентрализации сети. Поэтому разработчики биткойнов предпочитают масштабирование вне канала,
						это будет сделано с помощью нескольких решений, в том числе известной сети Lightning.</p>

					<h2 class="mt-4">Отличия Lightning Network от других способов оплаты в интернете</h2>

					<p align="justify">Все мы привыкли платить в интернете с помощью банковских карт или электронных
						кошельков (Яндекс деньги, PayPal, Webmoney и т.п.), так как этот способ оплаты поддерживается
						большинством сайтов, которые
						используют оплату в интернете.
						Но навряд ли вы встречали возможность оплаты в интернете с помощью Lightning Network.</p>
					<p align="justify">На данный момент Lightning Network находится в режиме активной разработки. </p>
					<p align="justify">Сравнивать платежи Lightning Network с другими способами оплаты в интернете
						проблематично из-за их отличающейся структуры.
						Но чем же тогда Lightning Network отличается от привычных платежей в интернете?</p>
					<p align="justify">Как и давний вопрос о том, издает ли звук дерево, падающее в лесу, если все
						стороны согласны с тем, что дерево упало
						в 2:45 после полудня, то дерево действительно упало в 2:45 после полудня.
						Точно так же, если оба контрагента согласны с тем, что текущий баланс внутри канала составляет
						0,07 биткойнов для Алисы и 0,03 биткойнов для Боба, то это истинный баланс. Однако без
						криптографии возникает интересная проблема: если один из контрагентов не согласен с текущим
						остатком средств
						(или временем, когда дерево упало), то это одно слово против другого. Без криптографических
						подписей блокчейн не будет знать, кому что принадлежит. Если баланс в канале составляет 0,05
						биткойнов
						для Алисы и 0,05 биткойнов для Боба, а баланс после транзакции составляет 0,07 биткойнов для
						Алисы и
						0,03 биткойнов для Боба, сеть должна знать, какой набор балансов верен. Транзакции блокчейна
						решают эту проблему, используя регистр блокчейна в качестве системы меток времени. В то же
						время желательно создать систему, которая не будет активно использовать эту систему отметок
						времени, за исключением случаев, когда это абсолютно необходимо, поскольку это может стать
						дорогостоящим для сети.</p>
					<p align="justify">Создание сети каналов микроплатежей обеспечивает масштабируемость биткойнов,
						микроплатежи вплоть до сатоши и почти мгновенные транзакции. Эти каналы представляют собой
						реальные
						биткойн-транзакции с использованием биткойн-сценариев, которые позволяют переводить средства без
						риска кражи контрагента,
						особенно при долгосрочном снижении риска майнера.</p>

					<h2 class="mt-4">Обзор кошелька для Lightning Network</h2>

					<table class="table table-striped">
						<tr>
							<td>Название</td>
							<td>Éclair Mobile Testnet</td>
						</tr>
						<tr>
							<td>Версия</td>
							<td>0.4.9</td>
						</tr>
						<tr>
							<td>Платформа</td>
							<td>Android, Windows (нода около 150 ГБ)</td>
						</tr>
						<tr>
							<td>Поддержка других криптовалют</td>
							<td>Satoshi, Bitcoin, Bits, Milli-Bitcoin</td>
						</tr>
						<tr>
							<td>Последнее обновление</td>
							<td>4 октября 2019 г.</td>
						</tr>
						<tr>
							<td>Разработчик</td>
							<td>AACINQ</td>
						</tr>
						<tr>
							<td>Размер файла</td>
							<td>26 Мб</td>
						</tr>
						<tr>
							<td>Язык программирования</td>
							<td>Java, C</td>
						</tr>
						<tr>
							<td>Язык интерфейса</td>
							<td>EN</td>
						</tr>
						<tr>
							<td>Срок действия запроса на оплату</td>
							<td>20 мин</td>
						</tr>
						<tr>
							<td>Какая версия и реализация LN</td>
							<td>Eclair - Scala-реализация сети Lightning</td>
						</tr>
						<tr>
							<td>OpenSource</td>
							<td>Да</td>
						</tr>
						<tr>
							<td>Кастодиальный</td>
							<td>Нет</td>
						</tr>
						<tr>
							<td>Off chain или on chain </td>
							<td>On chain и Off chain </td>
						</tr>
					</table>

					<p align="justify">Для тестирования технологии Lightning Network, я выбрал тестовый вариант
						приложения Eclair Mobile Testnet для платформы Android.</p>

					<p align="justify">Страница кошелька — <a href="https://github.com/ACINQ/eclair-mobile"
						target="_blank">https://github.com/ACINQ/eclair-mobile</a></p>

					<p><img src="../static/img/im30.jpg" width="100%" alt="Страница кошелька" class="center"></p>
					<p align="justify">В Play Market вводим Eclair поиск нам выдаст 2 приложения выбираем то что с
						подписью Testnet и нажимаем кнопку установить</p>
					<p><img src="../static/img/im14.jpg" width="50%" alt="Play Market" class="center"></p>
					<p align="justify">При первом включении кошелек просит записать seed-фразу, состоящую из 12 слов,
						затем подтвердить ее,
						это стандартное требование для создания кошелька.</p>
					<p><img src="../static/img/im15.jpg" width="50%" class="center"></p>
					<p align="justify">После этого попадаем на главную страницу (система проведет краткую экскурсию по
						основным функциям).
						Кошелек готов, можно тестировать сеть.</p>
					<p><img src="../static/img/im16.jpg" width="50%" class="center"></p>
					<p align="justify">Для экспериментов необходимо получить бесплатные монеты. Вставляем адрес нашего
						тестового кошелька <a href="https://coinfaucet.eu/en/btc-testnet/"
							target="_blank">https://coinfaucet.eu/en/btc-testnet/</a>
						и получаем тестовые Bitcoin на счет</p>
					<p><img src="../static/img/im17.jpg" width="50%" class="center"></p>

					<h2 class="mt-4">Обзор приложения, в которое можно заплатить кошельком</h2>

					<p align="justify">Давайте купим кофе в тестовом магазине Starblocks,
						который разработали éclair для проведения тестовых оплат.
						<a href="https://starblocks.acinq.co" target="_blank">https://starblocks.acinq.co</a></p>
					<p><img src="../static/img/im1.jpg" width="100%" class="center"></p>
					<p align="justify">Шаг 1.<br>
						Открываем канал с небольшой суммой, чтобы он быстрее подтвердился в сети.
						Дожидаемся его подтверждения (после того как мы увидим надпись «Normal»
						система позволит совершить платёж).</p>
					<p><img src="../static/img/im3.jpg" width="30%">
						<img src="../static/img/im4.jpg" width="30%">
						<img src="../static/img/im5.jpg" width="30%">
					</p>
					<p align="justify">Шаг 2.<br>
						Выбираем кофе на сайте. Нажимаем «Checkout».</p>
					<p><img src="../static/img/im1.jpg" width="100%" class="center"></p>
					<p align="justify">Шаг 3.<br>
						Появляется окно с QR-кодом, который необходимо сканировать в кошельке.
						Производим оплат с помощью кошелька, и, если оплата произведена успешно
						на сайте появится соответствующее окно. Самое главное, никакой комиссии за перевод внутри сети.
					</p>
					<p><img src="../static/img/im2.jpg" width="100%" class="center">
						<img src="../static/img/im6.jpg" width="100%" class="center">
						<img src="../static/img/im8.jpg" width="40%">
						<img src="../static/img/im9.jpg" width="40%">
					</p>
					<p align="justify">Шаг 4.<br>
						Закрываем канал после успешной оплаты.</p>
					<p><img src="../static/img/im27.jpg" width="30%">
						<img src="../static/img/im12.jpg" width="30%">
						<img src="../static/img/im29.jpg" width="30%">
					</p>

					<h2 class="mt-4">Заключение</h2>

					<p align="justify">В заключение, Lightning Network — это умная технология, которая обсуждалась и
						развивалась в течение многих лет.
						Создание такой системы показывает возможности, которые Биткойн должен развивать и, в конечном
						счете, навязывать себе как систему
						передачи ценностей, используемую массами. Есть много областей применения. Массовое внедрение
						сети Lightning еще не произошло,
						но ее характеристики позволят быстро освоить использование этой новой технологии.</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}