{% extends 'base.html' %}

{% block title %}Антиплагиат{% endblock %}

{% block up %}
<h1 align="center">Антиплагиат</h1>
{% endblock %}

{% block content %}
<div class="col-md-8 my-4 border border-white rounded" id="main">
    <div class="container text-center">

        <h3>
            <p align="center">Страница где проверял — <a href="https://text.ru/antiplagiat"
                    target="_blank">https://text.ru/antiplagiat</a></p>
        </h3>

        <p><img src="../static/img/im31.jpg" width="100%"></p>
        <br>
        <p><img src="../static/img/im32.jpg" width="100%"></p>
        <br>
        <p><img src="../static/img/im33.jpg" width="100%"></p>
    </div>
</div>
{% endblock %}